# Dependencies
node_modules/

# Next.js build output
.next/
out/

# TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env*.local

# Tooling
.vercel/
.turbo/
.cache/
coverage/

# Editor
.vscode/
.idea/

# Misc
*.swp
*.swo
node_modules/
